__pycache__
.ipynb_checkpoints
.DS_Store
13-python-scripting/image-playground/new
13-python-scripting/image-playground/blur.png
13-python-scripting/image-playground/crop.png
13-python-scripting/image-playground/grey.png
13-python-scripting/image-playground/resize.png
13-python-scripting/image-playground/rotate.png
13-python-scripting/image-playground/sharpen.png
13-python-scripting/image-playground/smooth.png
13-python-scripting/image-playground/thumbnail.jpg
